@page "/UserManagement"

<table>
    <tr>
        <td>
            <h1>
                User

            </h1>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td><h2>Create User</h2></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" @bind="userName"></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" @bind="userAddress"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" @bind="userEmail"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" @onclick="AddUser">Add User</button></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td><h2>Update User</h2></td>
                </tr>
                <tr>
                    <td>No:</td>
                    <td><input type="text" @bind="txtUpdateId"></td>
                </tr>
                @if (isIdExist(txtUpdateId))
                {
                    user = userList.First(offset => offset.ID == txtUpdateId);
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" @bind="user.Name"></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" @bind="user.Address"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" @bind="user.Email"></td>
                    </tr>
                }
                <tr>
                    <td><button class="btn btn-primary" @onclick="UpdateUser">Update User</button></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td><h2>Read User</h2></td>
                </tr>
                <tr>
                    <td>
                        @if (userList.Any())
                        {
                            <ul>
                                @foreach (var user in userList)
                                {
                                    <li>@user.ID &emsp; @user.Name &emsp; @user.Address &emsp; @user.Email</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>The List is Empty</p>
                        }
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" @onclick="ReadUser">Read User</button></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td><h2>Delete User</h2></td>
                </tr>
                <tr>
                    <td>No:</td>
                    <td><input type="text" @bind="txtDeleteId"></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" @onclick="RemoveUser">Delete User</button></td>
                </tr>
            </table>
        </td>
    </tr>
</table>




@code {

    private string txtUpdateId { get; set; }
    private string txtDeleteId { get; set; }
    private string userName { get; set; }
    private string userAddress { get; set; }
    private string userEmail { get; set; }

    private List<User> userList = new();

    private User user = new();

    private async Task AddUser()
    {
        if (userAddress != null && userEmail != null && userName != null)
        {
            await ApiCaller.AddUserAsync(new User { ID = $"{GenerateId()}", Name = userName, Email = userEmail, Address = userAddress });

            ClearFields();
        }
    }

    private async Task ReadUser()
    {
        userList = (await ApiCaller.GetUsersAsync()).ToList();
    }

    private async Task UpdateUser()
    {
        if(isIdExist(txtUpdateId))
        {
            userList = (await ApiCaller.GetUsersAsync()).ToList();

            await ApiCaller.UpdateUserAsync(user);

            ClearFields();
        }
    }

    private async Task RemoveUser()
    {
        if (isIdExist(txtDeleteId))
        {
            await ApiCaller.DeleteUserAsync(txtDeleteId);

            ClearFields();
        }
    }

    private string GenerateId()
    {
        return Enumerable.Range(1, int.MaxValue).Where(x => !isIdExist(x.ToString())).First().ToString();
    }

    private bool isIdExist(string value)
    {
        if (userList.Any())
        {
            return userList.Any(user => user.ID == value);
        }

        return false;
    }

    private void ClearFields()
    {
        txtUpdateId = txtDeleteId = userName = userEmail = userAddress = String.Empty;

    }
}
